extends layout

block content
  .container
    h1 注册
    br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='用户名', required='required')
      .form-group
        input.form-control(type='password', name="password", placeholder='密码', required='required')
      button.btn.btn-default(type='submit') 注册
      button.btn.btn-primary(type='reset', style='margin-left: 10px;') 清空